<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="C:\laragon\www\InformaticsGuards\resources\css\Diseño.CSS">
	<title>Calendar User</title>
</head>
<body>
<header>
			<h1 >Informatic Guards</h1>
			<h2 id="headerhomeAdm">Turnos de trabajadores Regulares</h2>

            <nav class="menu">
                <ul>
                    <li>Ver Usuarios</li>
                    <li>Home</li>
                    <li>Salir de cuenta</li>
                </ul>
            </nav>
		</header>

		<aside class="asidehome">
			<div class="elementsidebar">
				<p id="Eventosdeldia">Eventos del dia</p>
				<p>No hay eventos programados hasta ahora</p>
			</div>
			<div class="elementsidebar">
				<p>Leyendas</p>
				<p>Disponible</p>
				<p>No Disponible</p>
				<p>Permiso por enfermedad</p>
			</div>
		</aside>

        <div class="homebigbox">
		<section>
            <div class="opcionesbusqueda">
			<p>ver por</p>
			<select id="date_one"></select>
			<p>buscar por</p>
			<select id="date_two"></select>
                </div>
				<div id="Box_textTwo">
					<p>Turnos dia (dd/mm/yyyy)</p>
					<div class="Box_Three">
						<ul class="calendar">
							<li id="hd_Hours">Hora </li>
							<li id="First_Turn">19:00-20:00</li>
							<li id="Second_Turn">20:00-21:00</li>
							<li id="Third_Turn">21:00-22:00</li>
							<li id="Fourth_Turn">22:00-23:00</li>
							<li id="Five_Turn">23:00-00-00</li>
						</ul>
						<ul class="calendar">
							<li id="Nombre_FPerson">Persona</li>
							<li id="First_Person"></li>
							<li id="Second_Person"></li>
							<li id="Third_Person"></li>
							<li id="Fourth_Person"></li>
							<li id="Five_Person"></li>
						</ul>
					</div>
				</div>
		</section>
    </div>

		<footer class="footer">
			<p>© Informatics Guards 2022, Tlf: 0800-555-4756 , isla de margarita, Venezuela.</p>
		</footer>
</body>
</html>
