<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="Diseño.CSS">

		<title id="TittlePage"> Login  </title>
</head>
	<body>
		<header>
			<h1 id="HeaderPage1">Informatic </h1>
			<h1 id="HeaderPage1">     Guards</h1>
		</header>
	</body>

	<! –– login section ––>

		<div class="LogTittle">
			<img src="Calendar.png">
			<h2 id="Welcome">BIEVENIDO</h2>
			<h3 id="joinQ">Inicio de sesion regular</h3>
		
		<nav class="Navigation_UserType">
				<p id="instructions">Ingresar sus datos de usuario:</p>
			<! –– username section ––>

				<label for="username">Nombre de usuario</label>
				<input type="text" name="Enter usernames">

			<! ––  password section ––>

			<label for="password">Contraseña</label>
			<input type="text" name="Enter password">

			<input type="submit" name="log in">
		</nav> 
			</div>
		<nav>
			<a href="Registro.html">Crear cuenta nueva</a>
			<p><a id="volver_reg" href="Index.html">volver</a></p>
		</nav>

		<section class="SectionTwo">
			<p>¿Quienes pueden acceder?</p>
			<p>Aquellos trabajadores de la empresa “Informatics Guards”. Posee dos tipos de accesos, de usuario con el que puede registrar sus actividades y como administrador, permitiendole modificar toda la informacion de los empleados</p>
		</section>
		<section class="SectionThree">
			<p>Contactenos</p>
			<a id="fb" href="https://www.facebook.com/">Facebook</a>
			<a id="tt" href="https://twitter.com/">Twitter</a>
			<a id="ig" href="http://www.instagram.com">Instagram</a>
		</section>


		<footer class="footer">
			<p>© Informatics Guards 2022, Tlf: 0800-555-4756 , isla de margarita, Venezuela.</p>
		</footer>


</html>