<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="file:///C:/Users/ivany/OneDrive/Escritorio/Calendario/Diseño.CSS">

		<title id="TittlePage"> Registro  </title>
</head>
	<body>
		<header>
			<h1 id="HeaderPage1">Informatic </h1>
			<h1 id="HeaderPage1">     Guards</h1>
		</header>
	</body>

			<! –– login section ––>

		<div class="LogTittle">
			<img src="C:\Users\ivany\OneDrive\Escritorio\InformaticGuards_Calendary\Calendar.png">
			<h2 id="Welcome">BIEVENIDO</h2>
			<h3 id="joinQ">Crear usuario</h3>
		
		<nav class="Navigation_UserType">
			<p id="instructions">Favor, llenar el siguiente formulario para completar su registro</p>
			<! –– username section ––>

				<label id="uss" for="username_new">Nombre de usuario nuevo</label>
				<input type="text" name="Enter new username">

			<! ––  password section ––>

			<label id="pass" for="password">Crear contraseña </label>
			<input type="text" name="Create password">

			<! ––  Email section ––>

			<label id="email" for="Email">Ingresar correo electronico </label>
			<input type="text" name="Enter Email">

			<! ––  birthday section ––>

			<label id="birth" for="Birthday">Ingresar fecha de nacimiento (MM/DD/YYYY) </label>
			<input type="text" name="Enter BirthdayDate">

			<input type="submit" name="log in">
		</nav> 
			</div>
		
		<section class="SectionThree">
			<p>Contactenos</p>
			<a id="fb" href="www.facebook.com">Facebook</a>
			<a id="tt" href="www.twitter.com">Twitter</a>
			<a id="ig" href="www.instagram.com">Instagram</a>
		</section>


		<footer class="footer">
			<p>© Informatics Guards 2022, Tlf: 0800-555-4756 , isla de margarita, Venezuela.</p>
		</footer>


</html>