 body {
 	background: floralwhite;
    font-family: sans-serif;
 }
 .footer{

     margin-top: 450px;
 }
 header {
	background: #28D4FC;
	padding:0px ;
	font: bold;
    border: solid 2px black;
    border-radius: 10px;
}
header h1{
    padding-left: 50px;
}
 .cuadro{
    background:#28D4FC ;
	padding:5px ;
    border: solid 2px black;
    border-radius: 10px;
 }
 /*a partir de aqui se crea la division de la pagina de welcome */
 #zonacentro{
     width: 30%;
     display: inline-block;
     margin: 50px;
 }
#zonaderecha{
    float: right;
    width: 25%;
    display: inline-block;
}
#zonaderecha nav{
    width: 80%;
    margin: 10%;
    margin-top: 20%;
    list-style: none;
}
/*hasta aqui*/

/*aqui se divide el contenido del home de usuario*/
.cuadroshome{
    width: 80%;
  }
#zonaizquierda{
    float: left;
    width: 30%;
    display: inline-block;
}
.UsersType p{
     width: auto;
     text-align: center;
 }
#agrupwelcome{
    text-align: center;
}

#section2{
    margin: 20% 10%;
}
.text{
    text-align: justify;
}
.footer{
    position: absolute;
	text-align: center;
}
#headersection{
    text-align: center;
}
.menu li{
    list-style: none;
    display: inline-block;
    padding: 7px;
    text-align: center;
    width: 30%;
    border: solid black 1px;
    font-weight: bold;
    background-color: aqua;
    border-radius: 2rem;
}
.menu{
    text-align: center;
    margin: 0px;
}
/*zona del home*/
.asidehome{
    margin-top: 2rem;
    width: 20%;
    float: left;
    background-color: gray;
    border: black solid 2px;
}
.elementsidebar{
    font-weight: bold;
    width: 90%;
    background-color: antiquewhite;
    margin: 2rem 1rem;
    border: solid black 1px ;
}
.elementsidebar p{
    margin: 1rem 2rem;
    font-weight: lighter;
}
.elementsidebar h4{
    text-align: center;
}

.homebigbox{ /*cja que engloba el contenido princiapl del home*/
    float: right;
    width: 75%;
}
.opcionesbusqueda p,select{ /*opciones de busqueda del calendario*/
    display: inline;
    text-align: left;
    margin: 1rem 4rem;
}
#box-calendar{ /*caja del calendario*/
    text-align: center;
    width: 90%;
    background-color: cornflowerblue;
    border: 2px black solid;
    font-weight: bold;
}
/*seccion del inoformacion de susuario*/
.calendar{
    align-items: center;
    width: 100%;
}
.calendar td{
    width: 50%;
    border: solid black 1px;
    flex: 1 0 100%;
    background-color: rgb(27, 167, 27); /*Solo para visualizar*/
    list-style-type: none;
}

#dt_interno{ /*informacion de usuario*/
    background: #669999;
    width: 100%;
    border: solid black 1px;
    margin-top: 5px;
}
#dt_interno td{
    border: solid black 1px;
    font-weight: bold;
}
